<!DOCTYPE html>
<html>
  <head>
    <title>Micolet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <header class="header">
      <%= image_tag("micolet-logo.svg", alt: "micolet")%>
      <p class="slogan"><%= t 'static_pages.header.slogan' %></p>
    </header>
    <%= yield %>
  </body>
</html>
